.container {
  width: 1400px;
  margin: 0 auto;
  color: #161616;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.header {
  text-align: center;
  margin: 0px;
  height: 88px;
  width: 1400px;
}
.menu-list {
  list-style: none;
  margin: 0px;
  padding: 32px 0px;
}
.link {
  color: #161616;
  text-decoration: none;
}
.menu-list-item{
  display: inline;
  font-size: 18px;
  padding-right: 72px;
}
.last {
  padding: 0px;
}

.img {
    padding: 92px 400px 92px 401px;
    background: #00BDC9;
}

.main-text {
  padding: 88px 272px;  
}
.title {
  text-align: center;
  line-height: 135%;
  font-weight: 600;
  font-size: 48px;
  margin: 0;
}
.description {
  margin: 0;
  font-size: 21px;
  font-weight: 500;
  line-height: 150%;
  padding: 40px 0px 24px 0px;
}
.green-text {
  display: inline;
  color: #04959E;
  font-weight: 600; 
}
.text-list {
  text-align: center;
}
.number-list {
  font-size: 18px;
  margin-block-start: 0px;
  font-weight: 400;
  padding-left: 20px;
  line-height: 150%; 
}
.learn-more {
  background: #04959E;
  color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 135%; 
padding: 10px 24px;
margin: 50px 354px;
}
.footer {
  border-top: solid;
}
.rights {
font-size: 18px;
font-weight: 400;
line-height: 150%; 
text-align: center;
}